/deep/ md-chip .mat-chip:not(.mat-basic-chip) {
    padding: 1px 1px 0 1px;
}

/deep/ md-grid-tile.mat-grid-tile .mat-figure {
    justify-content: left;
    margin-bottom: 20px; 
    margin-top: 10px; 
}

/deep/ md-grid-tile .mat-select-trigger {
    display: flex;
    align-items: baseline;
    height: 24px;
}

/deep/ md-input-container.mat-input-container {
    width: 95%;
}

.contact-phone-list {
    vertical-align: middle;
}

#content {
    width: 95%;
}

#header {
    width: 200px;
}