/deep/ md-tab-group .mat-tab-labels {
    
}
/deep/ md-grid-tile.mat-grid-tile .mat-figure {
    justify-content: left;
    margin-bottom: 10px; 
    margin-top: 10px; 
}

/deep/ md-grid-tile .mat-select-trigger {
    display: flex;
    align-items: baseline;
    height: 25px;
}

/deep/ md-input-container.mat-input-container {
    width: 95%;
}

.contact-phone-list {
    line-height: 40px;
    vertical-align: middle;
}

.teste {
    background: pink;
}

#content {
    width: 95%;
}

#header {
    width: 200px;
}