<div id="loading" *ngIf="loading">
  <md-progress-bar mode="indeterminate" id="progress-bar"></md-progress-bar>
</div>

<div id="header"> 
  <img src="assets/img/logo.svg" alt="CIN - Centro Internacional de Negócios" (click)="participantBusiness = undefined">
  <h2 *ngIf="participantBusiness != 3">FICHA DE INSCRIÇÃO</h2>
</div>

<!--Presentation: start-->
<md-card id="presentation" *ngIf="!participantBusiness">
  <h2>ENIN 6º edição</h2>
  De 09 a 11 de outubro de 2017<br>
  
  <p>Local: Hotel Best Western Premier - Av. Dr. Antônio Gouveia, 925 - Pajuçara, Maceió – AL</p>
    
  <p>Inscrições até 30 de setembro</p>

  <button md-raised-button color="primary" (click)="participantBusiness = 1">Inscreva-se como vendedor</button>
  <button md-raised-button color="accent" (click)="participantBusiness = 2">Inscreva-se como comprador</button>
</md-card>
<!--Presentation: end-->

<md-card id="content" *ngIf="participantBusiness">
  <!--Seller: start-->
  <form (ngSubmit)="onSellerSubmit()" [formGroup]="sellerSignupForm" *ngIf="participantBusiness == 1">
    <md-tab-group>
      <!--Vendedor: start-->
      <md-tab label="Empresa" formGroupName="participant">
        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="8">
            <md-radio-group>
              <md-radio-button (change)="onChangeparticipantBusiness($event)" value="1" checked="true">Vendedor</md-radio-button>
              <md-radio-button (change)="onChangeparticipantBusiness($event)" value="2">Comprador</md-radio-button>
            </md-radio-group>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px" *ngIf="participantBusiness">
          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput formControlName="cnpj_number" type="text"
              placeholder="CNPJ"
              [textMask]="{mask: mask.cnpj}"
              (change)="receitaWsCnpjToSeller($event)">
              <md-error *ngIf="!sellerSignupForm.get('participant.cnpj_number').valid && !sellerSignupForm.get('participant.cnpj_number').touched">Erro</md-error>
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput formControlName="business_name" type="text"
              placeholder="Razão Social">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput formControlName="tranding_name" type="text"
              placeholder="Nome Fantasia">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowheight="100px" *ngIf="participantBusiness">
          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput formControlName="foundation_year" type="text" 
              placeholder="Data de Abertura"
              [textMask]="{mask: mask.date}">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput formControlName="employees_quantity" type="number" min="0" max="1000" 
              maxlength="3"
              placeholder="Nº de Funcionários"
              
              pattern="[0-9]{3}">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="4">
            <md-input-container>
              <input mdInput formControlName="legal_person" type="text" 
              placeholder="Responsável Legal">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <div>Porte da Empresa*</div>

          <md-grid-tile [colspan]="8">
            <md-radio-group formControlName="company_size">
              <md-radio-button value="mei">MEI - Até R$ 60.000,00</md-radio-button>
              <md-radio-button value="micro">Microempresa - Até R$ 360.000,00</md-radio-button>
              <md-radio-button value="pequena">Pequena Empresa - R$ 360.000,00 a R$ 3.600.000,00</md-radio-button>
            </md-radio-group>
          </md-grid-tile>
        </md-grid-list>
      </md-tab>

      <md-tab label="Contatos da Empresa" 
      *ngIf="participantBusiness" 
      formGroupName="contact">
        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput formControlName="postal_code" type="text" 
              (change)="republicaVirtualCepToSeller($event)"
              placeholder="CEP"
              [textMask]="{mask: mask.zip}">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="4">
            <md-input-container>
              <input mdInput formControlName="address" type="text" 
              placeholder="Logradouro">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="1">
            <md-input-container>
              <input mdInput formControlName="number" type="text" 
              placeholder="Número">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput formControlName="district" type="text" 
              placeholder="Bairro">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput formControlName="city" type="text" 
              placeholder="Município">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput formControlName="state" type="text" 
              placeholder="UF"
              [textMask]="{mask: mask.uf}"
              style="text-transform:uppercase">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="2">
            <md-select placeholder="Tipo de telefone" formControlName="company_phone_type">
              <md-option *ngFor="let phone of phoneType" [value]="phone.description">{{phone.description}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="2" *ngIf="sellerSignupForm.get('contact.company_phone_type').value">
            <md-input-container style="width: 90px; margin-right: 5px;">
              <input mdInput type="text" placeholder="DDD" formControlName="company_phone_ddd"
              [textMask]="{mask: mask.ddd}">
            </md-input-container>
            <md-input-container style="width: 110px;">
              <input mdInput type="text" placeholder="Número" formControlName="company_phone_number"
              [textMask]="{mask: mask.phone}"
              *ngIf="sellerSignupForm.get('contact.company_phone_type').value == 'Telefone fixo'">

              <input mdInput type="text" placeholder="Número" formControlName="company_phone_number"
              [textMask]="{mask: mask.cellphone}"
              *ngIf="sellerSignupForm.get('contact.company_phone_type').value != 'Telefone fixo'">
            </md-input-container>            
            <a md-mini-fab 
            *ngIf="sellerSignupForm.get('contact.company_phone_ddd').value && sellerSignupForm.get('contact.company_phone_number').value"
            (click)="createSellerContactPhoneObject()">
              <md-icon color="primary">add</md-icon>
            </a>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-select placeholder="Mídia Social" formControlName="digital_data_type">
              <md-option *ngFor="let socialMedia of socialMedias" [value]="socialMedia.value">{{socialMedia.description}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="2" *ngIf="sellerSignupForm.get('contact.digital_data_type').value">
            <md-input-container style="width: 300px;">
              <input mdInput type="text" placeholder="URL da mídia social" formControlName="company_social_media_url">
            </md-input-container>            
            <a md-mini-fab 
            *ngIf="sellerSignupForm.get('contact.company_social_media_url').value" 
            (click)="createSellerparticipantSocialMediaObject()">
              <md-icon color="primary">add</md-icon>
            </a>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput formControlName="company_email" type="text" 
              placeholder="E-mail">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="4">
            <md-input-container>
              <input mdInput formControlName="company_site" type="text" 
              placeholder="Site">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8">
          <md-grid-tile [colspan]="4" *ngIf="participantPhoneObject.length > 0">
            <table>
              <tr style="text-align: left;">
                <th style="width: 150px;">
                  Tipo
                </th>

                <th>
                  Número
                </th>
              </tr>

              <tr *ngFor="let participantPhone of participantPhoneObject" style="vertical-align: text-top; margin: 0; padding: 0; height: 40px;">
                <td>
                    {{participantPhone.phone_type_id}}
                </td>

                <td>
                    <span>({{participantPhone.ddd}}){{participantPhone.number}}</span>

                    <a (click)="clearContactPhone(i)"><md-icon class="fs10">clear</md-icon></a>
                </td>
              </tr>
            </table>

            <div *ngFor="let error of errorsRevenues">
              <md-error>{{error.message}}</md-error>
            </div>
          </md-grid-tile>

          <md-grid-tile [colspan]="4" *ngIf="participantSocialMediaObject.length > 0">
            <table>
              <tr style="text-align: left;">
                <th style="width: 150px;">
                  Tipo
                </th>

                <th>
                  URL
                </th>
              </tr>

              <tr *ngFor="let participantSocialMedia of participantSocialMediaObject" style="vertical-align: text-top; margin: 0; padding: 0; height: 40px;">
                <td>
                    {{participantSocialMedia.digital_data_type}}
                </td>

                <td>
                    <span>{{participantSocialMedia.url}}</span>

                    <a (click)="clearparticipantSocialMedia(i)"><md-icon class="fs10">clear</md-icon></a>
                </td>
              </tr>
            </table>

            <div *ngFor="let error of errorsRevenues">
              <md-error>{{error.message}}</md-error>
            </div>
          </md-grid-tile>
        </md-grid-list>
      </md-tab>

      <md-tab label="Representantes" 
      *ngIf="participantBusiness"
      formGroupName="representative">
        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="1">
            <md-select placeholder="Título" formControlName="representative_treatment"
            (blur)="validateSellerRepresentativeTreatment()">
              <md-option *ngFor="let treatment of treatments" [value]="treatment.value">{{treatment.description}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput type="text" 
              placeholder="CPF" 
              formControlName="representative_cpf"
              [textMask]="{mask: mask.cpf}"
              
              (blur) = "validateSellerRepresentativeCpf()">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput type="text" placeholder="Nome" 
              formControlName="representative_name"
              (blur)="validateSellerRepresentativeName()">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput type="text" placeholder="Cargo" 
              formControlName="representative_position">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="1">
            <md-input-container>
              <input mdInput placeholder="Nascimento" 
              [textMask]="{mask: mask.date}"
              formControlName="representative_birthday">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="2">
            <md-select placeholder="Escolaridade" 
            formControlName="representative_schooling">
              <md-option *ngFor="let schoolingChoice of schooling" [value]="schoolingChoice.value">{{schoolingChoice.description}}</md-option>
            </md-select>
          </md-grid-tile>
          
          <!--Representative phone: start -->
          <md-grid-tile [colspan]="2">
            <md-select placeholder="Tipo de telefone" formControlName="representative_phone_type"
            (blur)="validateSellerRepresentativePhoneType()">
              <md-option *ngFor="let phone of phoneType" [value]="phone.description">{{phone.description}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="2" 
          *ngIf="sellerSignupForm.get('representative.representative_phone_type').value">
            <md-input-container style="width: 90px; margin-right: 5px;">
              <input mdInput type="text" placeholder="DDD" formControlName="representative_phone_ddd"
              [textMask]="{mask: mask.ddd}"
              (blur)="validateSellerRepresentativePhoneDdd()">
            </md-input-container>
            <md-input-container style="width: 110px;">
              <input mdInput type="text" placeholder="Número" formControlName="representative_phone_number"
              maxlength="10"
              [textMask]="{mask: mask.phone}"
              *ngIf="sellerSignupForm.get('representative.representative_phone_type').value == 'Telefone fixo'"
              (blur)="validateSellerRepresentativePhoneNumber()">

              <input mdInput type="text" placeholder="Número" formControlName="representative_phone_number"
              [textMask]="{mask: mask.cellphone}"
              *ngIf="sellerSignupForm.get('representative.representative_phone_type').value != 'Telefone fixo'"
              (blur)="validateSellerRepresentativePhoneNumber()">
            </md-input-container>            
            <a md-mini-fab 
            *ngIf="sellerSignupForm.get('representative.representative_phone_ddd').value && sellerSignupForm.get('representative.representative_phone_number').value" 
            (click)="createSellerRepresentativePhoneObject()">
              <md-icon color="primary">add</md-icon>
            </a>
          </md-grid-tile>
          <!--Representative phone: end -->
          
          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput type="text" placeholder="E-mail"
              formControlName="representative_email"
              (blur)="validateSellerRepresentativeEmail()">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput type="text"
              formControlName="representative_postal_code"
              (blur)="validateSellerRepresentativePostalCode()"
              (change)="republicaVirtualCepToSellerRepresentative()"
              placeholder="CEP"
              [textMask]="{mask: mask.zip}">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput type="text"
              formControlName="representative_address"
              placeholder="Logradouro"
              (blur)="validateSellerRepresentativeAddress()">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput type="text"
              formControlName="representative_city"
              placeholder="Cidade"
              (blur)="validateSellerRepresentativeCity()">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="1">
            <md-input-container>
              <input mdInput type="text"
              formControlName="representative_state"
              placeholder="UF"
              [textMask]="{mask: mask.uf}"
              style="text-transform:uppercase"
              (blur)="validateSellerRepresentativeState()">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <div *ngIf="sellerSignupForm.get('representative.representative_treatment').value &&
        sellerSignupForm.get('representative.representative_cpf').value && 
        sellerSignupForm.get('representative.representative_name').value && 
        sellerSignupForm.get('representative.representative_position').value && 
        sellerSignupForm.get('representative.representative_birthday').value &&
        sellerSignupForm.get('representative.representative_schooling').value && 
        sellerSignupForm.get('representative.representative_email').value && 
        sellerSignupForm.get('representative.representative_postal_code').value && 
        sellerSignupForm.get('representative.representative_address').value &&
        sellerSignupForm.get('representative.representative_city').value &&
        sellerSignupForm.get('representative.representative_state').value">
          <a md-raised-button color="primary" (click)="createSellerRepresentativeObject()">Adicionar Representantes</a>
        </div>
        
        <md-grid-list cols="8">
          <md-grid-tile [colspan]="4" *ngIf="representativePhoneObject.length > 0">
            <table>
              <tr style="text-align: left;">
                <th style="width: 150px;">
                  Tipo
                </th>

                <th>
                  Número
                </th>
              </tr>

              <tr *ngFor="let representativePhone of representativePhoneObject" style="vertical-align: text-top; margin: 0; padding: 0; height: 40px;">
                <td>
                    {{representativePhone.phone_type_id}}
                </td>

                <td>
                    <span>({{representativePhone.ddd}}){{representativePhone.number}}</span>

                    <a (click)="clearRepresentativePhone(i)"><md-icon class="fs10">clear</md-icon></a>
                </td>
              </tr>
            </table>

            <div *ngFor="let error of errorsRevenues">
              <md-error>{{error.message}}</md-error>
            </div>
          </md-grid-tile>

          <md-grid-tile [colspan]="4" *ngIf="representativeObject.length > 0">
              <table>
                <tr style="text-align: left;">
                  <th style="width: 150px;">
                    CPF
                  </th>
  
                  <th>
                    Nome
                  </th>

                  <th>
                    Telefones
                  </th>
                </tr>
  
                <tr *ngFor="let representative of representativeObject; let i = index;" [class.odd-background]="i % 2 == 0">
                  <td style="vertical-align: text-top; margin: 10px; padding: 10px;">
                      {{representative.cpf}}
                  </td>
  
                  <td style="vertical-align: text-top; margin: 10px; padding: 10px;">
                      <span>{{representative.name}}</span>
                  </td>

                  <td style="vertical-align: text-top; margin: 10px; padding: 10px;">
                    <span *ngFor="let phone of representativeObject[i].phones">
                      ({{phone.ddd}}){{phone.number}}
                    </span>

                    <a (click)="clearRepresentative(i)"><md-icon class="fs10">clear</md-icon></a>
                  </td>
                </tr>
              </table>
  
              <div *ngFor="let error of errorsRevenues">
                <md-error>{{error.message}}</md-error>
              </div>
            </md-grid-tile>
        </md-grid-list>
      </md-tab>

      <md-tab label="Atividade" *ngIf="participantBusiness" formGroupName="activity">
        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="2">
            <md-select placeholder="Ramos de Atividade" formControlName="group_id"
            (change)="onChangeSubgroup($event)"
            multiple>
              <md-option *ngFor="let group of groups" [value]="group.id">{{group.name}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="2" *ngIf="subgroupChanged">
            <md-select placeholder="Setor" formControlName="subgroup_id"
            (change)="filterProduct($event)"
            multiple>
              <md-option *ngFor="let subgroup of subgroups" [value]="subgroup.id">{{subgroup.name}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="2" *ngIf="productObject">
            <md-select placeholder="Produtos" formControlName="product_id"
            multiple>
              <md-option *ngFor="let product of productObject" [value]="product.id">{{product.name}}</md-option>
            </md-select>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px" *ngIf="errors.length > 0">
          <md-grid-tile [colspan]="8">
            <md-error *ngFor="let error of errors">
              {{error.message}}
            </md-error>
          </md-grid-tile>
        </md-grid-list>
      </md-tab>

      <md-tab label="Interesses" *ngIf="participantBusiness" formGroupName="interest">
        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="4">
            <md-input-container>
              <textarea mdInput placeholder="Eventos nacionais/internacionais que sua empresa participou" 
              formControlName="participation_events">
              </textarea>
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="4">
            <md-input-container>
              <textarea mdInput placeholder="Interesses da empresa / Observações"
              formControlName="company_interests">
              </textarea>
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput type="number"
              placeholder="% de faturamento de vendas locais"
              formControlName="local_revenues"
              maxlength="3"
              (change)="createSellerLocalRevenuesObject()">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-select placeholder="Outros estados"
            formControlName="other_state">
              <md-option *ngFor="let state of states" [value]="state.description">{{state.description}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="3" *ngIf="sellerSignupForm.get('interest.other_state').value">
            <md-input-container>
              <input mdInput type="number"
              placeholder="% de faturamento"
              formControlName="other_state_revenues">
            </md-input-container>

            <a md-mini-fab *ngIf="sellerSignupForm.get('interest.other_state_revenues').value" (click)="createSellerOtherStateRevenuesObject()">
              <md-icon color="primary">add</md-icon>
            </a>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput placeholder="Outros países" 
              formControlName="other_country"
              [mdAutocomplete]="auto" 
              (keyup)="filterCountries($event)">
            </md-input-container>

            <md-autocomplete #auto="mdAutocomplete">
              <md-option *ngFor="let country of filteredCountries" [value]="country.country_name_pt">
                {{country.country_name_pt}}
              </md-option>
            </md-autocomplete>
          </md-grid-tile>

          <md-grid-tile [colspan]="3" *ngIf="sellerSignupForm.get('interest.other_country').value">
            <md-input-container>
              <input mdInput type="number"
              placeholder="% de faturamento"
              formControlName="other_country_revenues">
            </md-input-container>

            <a md-mini-fab *ngIf="sellerSignupForm.get('interest.other_country_revenues').value" (click)="createSellerOtherCountryRevenuesObject()">
              <md-icon color="primary">add</md-icon>
            </a>
          </md-grid-tile>
        </md-grid-list>
        
        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="4">
            <md-input-container>
              <textarea mdInput placeholder="Capacidade de Venda (Exportação) / Mês (Unidades)"
              formControlName="sales_capacity">
              </textarea>
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>        

        <md-grid-list cols="8" *ngIf="revenuesObject.length > 0">
          <md-grid-tile [colspan]="4">
              <table>
                <tr style="text-align: left;">
                  <th style="width: 150px;">
                    Local
                  </th>
  
                  <th>
                    Faturamento
                  </th>
                </tr>
  
                <tr *ngFor="let revenue of revenuesObject; let i = index;" style="height: 40px;">
                  <td>
                      {{revenue.place}}
                  </td>
  
                  <td>
                      <span>{{revenue.revenues}}%</span>
  
                      <a (click)="clearRevenues(i)"><md-icon class="fs10">clear</md-icon></a>
                  </td>
                </tr>
              </table>
          </md-grid-tile>          
          
          <div *ngFor="let error of errorsRevenues">
            <md-error>{{error.message}}</md-error>
          </div>
        </md-grid-list>
      </md-tab>
      <!--Vendedor: end-->
    </md-tab-group>

    <md-card-actions>
      <button type="submit" md-raised-button color="primary" [disabled]="sellerSignupForm.invalid || disabled">Cadastrar</button>
    </md-card-actions>
  </form>
  <!--Seler: end-->

  <!--Buyer: start-->
  <form (ngSubmit)="onBuyerSubmit()" [formGroup]="buyerSignupForm" *ngIf="participantBusiness == 2">
    <md-tab-group>
      <!--Vendedor: start-->
      <md-tab label="Empresa" formGroupName="participant">
        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="8">
            <md-radio-group>
              <md-radio-button (change)="onChangeparticipantBusiness($event)" value="1">Vendedor</md-radio-button>
              <md-radio-button (change)="onChangeparticipantBusiness($event)" checked="true" value="2">Comprador</md-radio-button>
            </md-radio-group>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px" *ngIf="participantBusiness">
          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput formControlName="cnpj_number" type="text"
              placeholder="CNPJ"
              [textMask]="{mask: mask.cnpj}"
              (change)="receitaWsCnpjToBuyer($event)">
              <md-error *ngIf="!buyerSignupForm.get('participant.cnpj_number').valid && !buyerSignupForm.get('participant.cnpj_number').touched">Erro</md-error>
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput formControlName="business_name" type="text"
              placeholder="Razão Social">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput formControlName="tranding_name" type="text"
              placeholder="Nome Fantasia">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowheight="100px" *ngIf="participantBusiness">
          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput formControlName="foundation_year" type="text" 
              placeholder="Data de Abertura"
              [textMask]="{mask: mask.date}">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput formControlName="employees_quantity" type="number" 
              placeholder="Nº de Funcionários">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="4">
            <md-input-container>
              <input mdInput formControlName="legal_person" type="text" 
              placeholder="Responsável Legal">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="4">
            <md-select placeholder="Idiomas nos quais deseja se comunicar" formControlName="language"
            multiple
            (change)="onChangeOthersLanguage($event)">
              <md-option *ngFor="let language of languages" [value]="language.description">{{language.description}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="4" *ngIf="otherLanguage">
              <md-input-container>
                <input mdInput placeholder="Outra(s) língua(s)" 
                formControlName="other_language">
              </md-input-container>
          </md-grid-tile>
        </md-grid-list>
      </md-tab>

      <md-tab label="Contatos da Empresa" 
      *ngIf="participantBusiness" 
      formGroupName="contact">
        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="1" *ngIf="participantBusiness == 2">
            <md-input-container>
              <input mdInput placeholder="País" 
              [mdAutocomplete]="auto" 
              formControlName="country"
              (keyup)="filterCountries($event)">
            </md-input-container>

            <md-autocomplete #auto="mdAutocomplete">
              <md-option *ngFor="let country of filteredCountries" [value]="country.country_name_pt">
                {{country.country_name_pt}}
              </md-option>
            </md-autocomplete>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput formControlName="postal_code" type="text" 
              (change)="republicaVirtualCepToBuyer($event)"
              placeholder="CEP"
              [textMask]="{mask: mask.zip}">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="4">
            <md-input-container>
              <input mdInput formControlName="address" type="text" 
              placeholder="Logradouro">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="1">
            <md-input-container>
              <input mdInput formControlName="number" type="text" 
              placeholder="Número">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput formControlName="district" type="text" 
              placeholder="Bairro">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput formControlName="city" type="text" 
              placeholder="Município">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput formControlName="state" type="text" 
              placeholder="UF"
              [textMask]="{mask: mask.uf}"
              style="text-transform:uppercase">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="2">
            <md-select placeholder="Tipo de telefone" formControlName="company_phone_type">
              <md-option *ngFor="let phone of phoneType" [value]="phone.description">{{phone.description}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="2" *ngIf="buyerSignupForm.get('contact.company_phone_type').value">
            <md-input-container style="width: 90px; margin-right: 5px;">
              <input mdInput type="text" placeholder="DDD" formControlName="company_phone_ddd">
            </md-input-container>
            <md-input-container style="width: 110px;">
              <input mdInput type="text" placeholder="Número" formControlName="company_phone_number"
              [textMask]="{mask: mask.phone}"
              *ngIf="buyerSignupForm.get('contact.company_phone_type').value == 'Telefone fixo'">

              <input mdInput type="text" placeholder="Número" formControlName="company_phone_number"
              [textMask]="{mask: mask.cellphone}"
              *ngIf="buyerSignupForm.get('contact.company_phone_type').value != 'Telefone fixo'">
            </md-input-container>            
            <a md-mini-fab 
            *ngIf="buyerSignupForm.get('contact.company_phone_ddd').value && buyerSignupForm.get('contact.company_phone_number').value"
            (click)="createBuyerContactPhoneObject()">
              <md-icon color="primary">add</md-icon>
            </a>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-select placeholder="Mídia Social" formControlName="digital_data_type">
              <md-option *ngFor="let socialMedia of socialMedias" [value]="socialMedia.value">{{socialMedia.description}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="2" *ngIf="buyerSignupForm.get('contact.digital_data_type').value">
            <md-input-container style="width: 300px;">
              <input mdInput type="text" placeholder="URL da mídia social" formControlName="company_social_media_url">
            </md-input-container>            
            <a md-mini-fab 
            *ngIf="buyerSignupForm.get('contact.company_social_media_url').value" 
            (click)="createBuyerparticipantSocialMediaObject()">
              <md-icon color="primary">add</md-icon>
            </a>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput formControlName="company_email" type="text" 
              placeholder="E-mail">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="4">
            <md-input-container>
              <input mdInput formControlName="company_site" type="text" 
              placeholder="Site">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8">
          <md-grid-tile [colspan]="4" *ngIf="participantPhoneObject.length > 0">
            <table>
              <tr style="text-align: left;">
                <th style="width: 150px;">
                  Tipo
                </th>

                <th>
                  Número
                </th>
              </tr>

              <tr *ngFor="let participantPhone of participantPhoneObject" style="vertical-align: text-top; margin: 0; padding: 0; height: 40px;">
                <td>
                    {{participantPhone.phone_type_id}}
                </td>

                <td>
                    <span>({{participantPhone.ddd}}){{participantPhone.number}}</span>

                    <a (click)="clearContactPhone(i)"><md-icon class="fs10">clear</md-icon></a>
                </td>
              </tr>
            </table>

            <div *ngFor="let error of errorsRevenues">
              <md-error>{{error.message}}</md-error>
            </div>
          </md-grid-tile>

          <md-grid-tile [colspan]="4" *ngIf="participantSocialMediaObject.length > 0">
            <table>
              <tr style="text-align: left;">
                <th style="width: 150px;">
                  Tipo
                </th>

                <th>
                  URL
                </th>
              </tr>

              <tr *ngFor="let participantSocialMedia of participantSocialMediaObject" style="vertical-align: text-top; margin: 0; padding: 0; height: 40px;">
                <td>
                    {{participantSocialMedia.digital_data_type}}
                </td>

                <td>
                    <span>{{participantSocialMedia.url}}</span>

                    <a (click)="clearparticipantSocialMedia(i)"><md-icon class="fs10">clear</md-icon></a>
                </td>
              </tr>
            </table>

            <div *ngFor="let error of errorsRevenues">
              <md-error>{{error.message}}</md-error>
            </div>
          </md-grid-tile>
        </md-grid-list>        
      </md-tab>

      <md-tab label="Representantes" 
      *ngIf="participantBusiness"
      formGroupName="representative">
        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="1">
            <md-select placeholder="Título" formControlName="representative_treatment"
            (blur)="validateBuyerRepresentativeTreatment()">
              <md-option *ngFor="let treatment of treatments" [value]="treatment.value">{{treatment.description}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput type="text" 
              placeholder="CPF" 
              formControlName="representative_cpf"
              [textMask]="{mask: mask.cpf}"
              
              (blur)="validateBuyerRepresentativeName();">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput type="text" placeholder="Nome" 
              formControlName="representative_name"
              (blur)="validateBuyerRepresentativeName()">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput type="text" placeholder="Cargo" 
              formControlName="representative_position">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <!--Representative phone: start -->
          <md-grid-tile [colspan]="2">
            <md-select placeholder="Tipo de telefone" formControlName="representative_phone_type"
            (blur)="validateBuyerRepresentativePhoneType()">
              <md-option *ngFor="let phone of phoneType" [value]="phone.description">{{phone.description}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="2" 
          *ngIf="buyerSignupForm.get('representative.representative_phone_type').value">
            <md-input-container style="width: 90px; margin-right: 5px;">
              <input mdInput type="text" placeholder="DDD" formControlName="representative_phone_ddd"
              (blur)="validateBuyerRepresentativePhoneDdd()">
            </md-input-container>
            <md-input-container style="width: 110px;">
              <input mdInput type="text" placeholder="Número" formControlName="representative_phone_number"
              [textMask]="{mask: mask.phone}"
              *ngIf="buyerSignupForm.get('representative.representative_phone_type').value == 'Telefone fixo'"
              (blur)="validateBuyerRepresentativePhoneNumber()">

              <input mdInput type="text" placeholder="Número" formControlName="representative_phone_number"
              [textMask]="{mask: mask.cellphone}"
              *ngIf="buyerSignupForm.get('representative.representative_phone_type').value != 'Telefone fixo'"
              (blur)="validateBuyerRepresentativePhoneNumber()">
            </md-input-container>            
            <a md-mini-fab 
            *ngIf="buyerSignupForm.get('representative.representative_phone_ddd').value && buyerSignupForm.get('representative.representative_phone_number').value" 
            (click)="createBuyerRepresentativePhoneObject()">
              <md-icon color="primary">add</md-icon>
            </a>
          </md-grid-tile>
          <!--Representative phone: end -->
          
          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput type="text" placeholder="E-mail"
              formControlName="representative_email"
              (blur)="validateBuyerRepresentativeEmail()">
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <div *ngIf="buyerSignupForm.get('representative.representative_treatment').value &&
        buyerSignupForm.get('representative.representative_cpf').value && 
        buyerSignupForm.get('representative.representative_name').value && 
        buyerSignupForm.get('representative.representative_position').value && 
        buyerSignupForm.get('representative.representative_email').value">
          <a md-raised-button color="primary" (click)="createBuyerRepresentativeObject()">Adicionar Representantes</a>
        </div>
        
        <md-grid-list cols="8">
          <md-grid-tile [colspan]="4" *ngIf="representativePhoneObject.length > 0">
            <table>
              <tr style="text-align: left;">
                <th style="width: 150px;">
                  Tipo
                </th>

                <th>
                  Número
                </th>
              </tr>

              <tr *ngFor="let representativePhone of representativePhoneObject" style="vertical-align: text-top; margin: 0; padding: 0; height: 40px;">
                <td>
                    {{representativePhone.phone_type_id}}
                </td>

                <td>
                    <span>({{representativePhone.ddd}}){{representativePhone.number}}</span>

                    <a (click)="clearRepresentativePhone(i)"><md-icon class="fs10">clear</md-icon></a>
                </td>
              </tr>
            </table>

            <div *ngFor="let error of errorsRevenues">
              <md-error>{{error.message}}</md-error>
            </div>
          </md-grid-tile>

          <md-grid-tile [colspan]="4" *ngIf="representativeObject.length > 0">
              <table>
                <tr style="text-align: left;">
                  <th style="width: 150px;">
                    CPF
                  </th>
  
                  <th>
                    Nome
                  </th>

                  <th>
                    Telefones
                  </th>
                </tr>
  
                <tr *ngFor="let representative of representativeObject; let i = index;" [class.odd-background]="i % 2 == 0">
                  <td style="vertical-align: text-top; margin: 10px; padding: 10px;">
                      {{representative.cpf}}
                  </td>
  
                  <td style="vertical-align: text-top; margin: 10px; padding: 10px;">
                      <span>{{representative.name}}</span>
                  </td>

                  <td style="vertical-align: text-top; margin: 10px; padding: 10px;">
                    <span *ngFor="let phone of representativeObject[i].phones">
                      ({{phone.ddd}}){{phone.number}}
                    </span>

                    <a (click)="clearRepresentative(i)"><md-icon class="fs10">clear</md-icon></a>
                  </td>
                </tr>
              </table>
  
              <div *ngFor="let error of errorsRevenues">
                <md-error>{{error.message}}</md-error>
              </div>
            </md-grid-tile>
        </md-grid-list>
      </md-tab>

      <md-tab label="Atividade" *ngIf="participantBusiness" formGroupName="activity">
        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="2">
            <md-select placeholder="Setor" formControlName="subgroup_id"
            (change)="filterProduct($event)"
            multiple>
              <md-option *ngFor="let subgroup of subgroups" [value]="subgroup.id">{{subgroup.name}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="2" *ngIf="productObject">
            <md-select placeholder="Produtos" formControlName="product_id"
            multiple
            (change)="onChangeOthersProduct($event)">
              <md-option *ngFor="let product of productObject" [value]="product.id">{{product.name}}</md-option>
              <md-option [value]="'Outro(s)'">Outro(s)</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="4" *ngIf="otherProduct">
              <md-input-container>
                <input mdInput placeholder="Outro(s) produto(s)" 
                formControlName="other_product">
              </md-input-container>
          </md-grid-tile>
        </md-grid-list>
      </md-tab>

      <md-tab label="Interesses" *ngIf="participantBusiness" formGroupName="interest">
        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="4">
            <md-input-container>
              <textarea mdInput placeholder="Interesses da empresa / Observações"
              formControlName="company_interests">
              </textarea>
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="3">
            <md-input-container>
              <input mdInput type="number"
              placeholder="% de faturamento de vendas locais"
              formControlName="local_revenues"
              maxlength="3"
              (change)="createBuyerLocalRevenuesObject()">
            </md-input-container>
          </md-grid-tile>

          <md-grid-tile [colspan]="2">
            <md-select placeholder="Outros estados"
            formControlName="other_state">
              <md-option *ngFor="let state of states" [value]="state.description">{{state.description}}</md-option>
            </md-select>
          </md-grid-tile>

          <md-grid-tile [colspan]="3" *ngIf="buyerSignupForm.get('interest.other_state').value">
            <md-input-container>
              <input mdInput type="number" 
              formControlName="other_state_revenues"
              maxlength="3"
              placeholder="% de faturamento">
            </md-input-container>

            <a md-mini-fab *ngIf="buyerSignupForm.get('interest.other_state_revenues').value" (click)="createBuyerOtherStateRevenuesObject()">
              <md-icon color="primary">add</md-icon>
            </a>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" rowHeight="100px">
          <md-grid-tile [colspan]="2">
            <md-input-container>
              <input mdInput placeholder="Outros países" 
              formControlName="other_country"
              [mdAutocomplete]="auto" 
              (keyup)="filterCountries($event)">
            </md-input-container>

            <md-autocomplete #auto="mdAutocomplete">
              <md-option *ngFor="let country of filteredCountries" [value]="country.country_name_pt">
                {{country.country_name_pt}}
              </md-option>
            </md-autocomplete>
          </md-grid-tile>

          <md-grid-tile [colspan]="3" *ngIf="buyerSignupForm.get('interest.other_country').value">
            <md-input-container>
              <input mdInput type="number"
              formControlName="other_country_revenues"
              placeholder="% de faturamento">
            </md-input-container>

            <a md-mini-fab *ngIf="buyerSignupForm.get('interest.other_country_revenues').value" (click)="createBuyerOtherCountryRevenuesObject()">
              <md-icon color="primary">add</md-icon>
            </a>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8">
          <md-grid-tile [colspan]="4">
            <md-input-container>
              <textarea mdInput placeholder="Perfil do parceiro"
              formControlName="partner_profile">
              </textarea>
            </md-input-container>
          </md-grid-tile>
        </md-grid-list>

        <md-grid-list cols="8" *ngIf="revenuesObject.length > 0">
          <div class="float-left mr10">
            <h3>Local</h3>
            <div *ngFor="let revenue of revenuesObject">
              {{revenue.place}}
            </div> 
          </div>

          <div class="float-left">
            <h3>Faturamento</h3>
            <div *ngFor="let revenue of revenuesObject" style="text-align: right;">
              {{revenue.revenues}}%
            </div> 
          </div>

          <div class="clear-both"></div>

          <div *ngFor="let error of errorsRevenues">
            <md-error>{{error.message}}</md-error>
          </div>
        </md-grid-list>
      </md-tab>
      <!--Vendedor: end-->
    </md-tab-group>

    <md-card-actions>
      <button type="submit" md-raised-button color="primary" [disabled]="buyerSignupForm.invalid || disabled">Cadastrar</button>
    </md-card-actions>
  </form>
  <!--Buyer: end-->
</md-card>

<md-card id="saved" *ngIf="participantBusiness == 3">
  <h2>INSCRIÇÃO FEITA COM SUCESSO!</h2>
</md-card>